@media (min-width: 768px){

    .caja-1 {
        background: black;    
    }

    .caja-2 {
        background-color: black;  
    }

    .caja-3 {
        background-color: black;
    }

    .titulo {
        font-size: 50px;
        margin: 50px 0 30px 0;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .parrafo {
        font-size: 30px;
        margin: 0 100px;
        margin-bottom: 30px;
    }


}